
	*{
		box-sizing: border-box; 
		
		margin: 0px;
	}
	

	h1{

		text-align: center;
		margin-top: 4%;
		margin-bottom: 5%;
		
	}

	.p{
		margin-top: 15px;
		padding:10px;
		font-family: Andalus;
	}

	#p1{
		background-color: pink;
		font-family: Verdana;		
	}


	#p2{
		background-color: red;
		font-family: Verdana;
	}
	

	#p3{
		background-color: blue;
		font-family: verdana;
	}
	

	.titles{
		width:100px;
		border:1px solid black;
		float:right;
		text-align: center;
		font-weight: bold;
	}

	#primarydiv{

		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
		


	}

	@media(min-width:992px) {
		.desktop-view{
			float: left;
    		border: 1px solid black;
    		width: 30%;
			background-color: gray;
			margin-right: 20px;
			
		}
			
	}

	@media(min-width: 768px) and (max-width: 991px) {

  		.tablet-view {
  		    width: 45%;
  		    float: left;
  		    margin: 2%;
 	   		border: 1px solid black;
 	   		background-color: gray;
 	   	
   	  }  
  		div:nth-child(3){
    		width: 94%;   		
      }
      
	}


	@media(max-width: 767px) { 

		.mobile-view {

			width: 90%;
 	   		border: 1px solid black;
 	   		background-color: gray;
 	   		margin: 2%;
      		
			
		}
	}